# Dependencies
node_modules/
yarn-error.log

# Build files
public/css/
public/fonts/
public/js/

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Webpack
.cache/
dist/